<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatClient.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>169.254.183.74</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5776</value>
            </setting>
            <setting name="ApplicationHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ApplicationWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ApplicationTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value>Dennis</value>
            </setting>
            <setting name="ReconnectTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Reconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>3146</value>
            </setting>
        </ChatClient.Properties.Settings>
    </userSettings>
</configuration>